# Ignore all local run log files
log/*.log

# The java eclipse .project file
java/.project
java/.classpath

# Java output
java/bin
output

# All the papers in the papers folder (we cannot distribute protected papers)
papers/*.pdf
